# Import de bibliotecas

In [9]:
import pandas as pd
import matplotlib 
import seaborn as sns
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

# Import de dados

In [10]:
df_houses = pd.read_csv("houses_to_rent_v2.csv")
df_houses.sample(3)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
1536,São Paulo,50,1,1,0,3,acept,not furnished,400,1500,59,20,1979
4964,São Paulo,31,1,1,0,6,acept,not furnished,200,2614,84,34,2932
1558,Porto Alegre,35,1,1,0,3,acept,furnished,200,880,15,13,1108

# Criação de labels para variaveis categoricas

In [11]:
le_city = preprocessing.LabelEncoder()
df_houses["city_le"] = le_city.fit_transform(df_houses["city"])
le_animal = preprocessing.LabelEncoder()
df_houses["animal_le"] = le_animal.fit_transform(df_houses["animal"])
le_furniture = preprocessing.LabelEncoder()
df_houses["furniture_le"] = le_furniture.fit_transform(df_houses["furniture"])
df_houses_le = df_houses[['city_le', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal_le', 'furniture_le', 'hoa (R$)', 'rent amount (R$)',
       'property tax (R$)', 'fire insurance (R$)', 'total (R$)']]

df_houses_le.loc[df_houses_le["floor"] == "-","floor"] = 0
df_houses_le["floor"] = pd.to_numeric(df_houses_le["floor"])
df_houses_le.sample(3)

d:\Ciencias de Dados\Projetos\Concluidos\Ciencias-de-dados\venv\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\ruben\AppData\Local\Temp/ipykernel_11368/3674954472.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_houses_le["floor"] = pd.to_numeric(df_houses_le["floor"])

,city_le,area,rooms,bathroom,parking spaces,floor,animal_le,furniture_le,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
6859,4,40,1,1,1,3,0,0,820,3179,0,41,4040
4541,4,400,6,6,8,15,0,0,3000,4335,1750,55,9140
9288,2,27,1,1,0,2,0,1,100,960,75,15,1150

# Separação de datasets por correlação

In [14]:
df_houses_complete_x = df_houses_le[['city_le', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal_le', 'furniture_le']]
df_houses_complete_y = df_houses_le[[ 'total (R$)']]
x_train_complete, x_test_complete, y_train_complete, y_test_complete = train_test_split(df_houses_complete_x, df_houses_complete_y, test_size = 0.30,random_state = 0)

df_houses_clean_x = df_houses_le[['rooms', 'bathroom', 'parking spaces','furniture_le']]
df_houses_clean_y = df_houses_le[[ 'total (R$)']]
x_train_clean, x_test_clean, y_train_clean, y_test_clean = train_test_split(df_houses_clean_x, df_houses_clean_y, test_size = 0.30,random_state = 0)

# Treino de modelo completo

In [15]:
modelo_completo = LinearRegression()
modelo_completo.fit(x_train_complete,y_train_complete)
result_completo = modelo_completo.predict(x_test_complete)
mean_complete  = mean_absolute_error(result_completo, y_test_complete)

# Treino de modelo otimizado

In [16]:
modelo_clean = LinearRegression()
modelo_clean.fit(x_train_clean,y_train_clean)
result_clean = modelo_clean.predict(x_test_clean)
mean_clean  = mean_absolute_error(result_clean, y_test_clean)

# Resultado Modelo completo

In [40]:
print("="*43+" Modelo Completo "+"="*43)
print("=="*10+"RMSE"+"=="*10+"Media  Previsão"+"=="*8+"Media Real"+"=="*9)
print("=="*9+"{:.2f}".format(mean_complete)+"=="*12+"{:.2f}".format(result_completo.mean())+"=="*11+"{:.2f}".format(y_test_complete.mean()[0])+"=="*9)
print("=="*51+"=")

=========================================== Modelo Completo ===========================================
====================RMSE====================Media  Previsão================Media Real==================
==================2651.44========================6029.84======================5376.38==================
=======================================================================================================

# Resultado Modelo otimizado

In [39]:
print("="*42+" Modelo Clean "+"="*42+"=")
print("=="*9+"RMSE"+"=="*10+"Media Previsão"+"=="*10+"Media Real"+"=="*6+"=")
print("=="*8+"{:.2f}".format(mean_clean)+"=="*11+"{:.2f}".format(result_clean.mean())+"=="*13+"{:.2f}".format(y_test_clean.mean()[0])+"=="*7)
print("=="*49+"=")

========================================== Modelo Clean ===========================================
==================RMSE====================Media Previsão====================Media Real=============
================2449.98======================5733.20==========================5376.38==============
===================================================================================================